@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 초기 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fixed_right {
  position: fixed;
  top: 55%;
  transform: translate(-50%, -50%);
}
.fixed_s {
  position: fixed;
  display: flex;
  left: 0;
  top: 25%;
}
/* 스크롤 값 */
.scrollTop {
  font-family: "Jost";
  position: fixed;
  right: 30px;
  bottom: 10px;
  width: 65px;
  height: 40px;
  color: #fff;
  text-align: right;
  line-height: 40px;
  z-index: 100000;
  font-weight: bold;
  font-size: 2vh;
}

/* 헤더 */
header {
  font-family: "LINESeedKR-Bd";
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  color: #fff;
  font-size: 2.5vh;
  z-index: 100;
  padding: 20px 30px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}

/* 섹션 */
#section1 {
}
/* sec1 */
.sec1 {
  background: #786655;
  height: 7000px;
}
.sec1_ani1 {
  width: 98%;
  height: 98vh;
  background: url(../img/forest.png);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
}
.sec1_ani2 {
  font-family: "pretendard";
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 0.85;
  font-size: 13vw;
  z-index: 1;
  text-transform: uppercase;
}
.sec1_ani2_c {
  display: flex;
  justify-content: center;
}
.sec1_ani4 {
  background: url(../img/my_img-min.jpg);
  background-size: cover;
  background-position: center center;
  width: 17vw;
  height: 22vw;
  transform: translate(-50%, -50%);
}
.sec1_ani5 {
  color: #fff;
  width: 120vh;
  font-size: 1.8vw;
  font-family: "nanumsquare";
  font-weight: 500;
  text-align: center;
}
.sec1_ani5_1 {
  width: 120vh;
  position: fixed;
  left: 50%;
}
.sec1_ani6 {
  font-size: 10vw;
  font-family: "pretendard";
  font-weight: 900;
  text-transform: uppercase;
  color: #3a6440;
}
.sec1_ani7 {
  font-size: 10vw;
  font-family: "pretendard";
  font-weight: 900;
  text-transform: uppercase;
  color: #93906c;
}
/* sec2 */
.sec2 {
  background: #93906c;
  height: 5000px;
}
.sec3 {
  background: #3a6440;
  height: 7000px;
}

/* section2 */
#section2 .sec1 {
  width: 400vw;
  height: 100vh;
  background-color: #3a6440;
}

.box {
  width: 100vw;
}

.sec_ani {
  width: 100vh;
  display: flex;
}
.sec_ani img {
  margin: 1vw;
  width: 33vw;
}

.sec_ani h3 {
  font-size: 5vw;
  font-family: "pretendard";
  font-weight: 900;
  margin: 1.5vw 0;
}
.sec_ani p {
  font-family: "nanumsquare";
  margin: 2vw 0;
  font-size: 1.7vw;
}
