@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased; */
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fixed_right {
  position: fixed;
  transform: translate(-50%, -50%);
}

.scrollTop {
  font-family: "Jost";
  position: fixed;
  right: 10px;
  bottom: 5px;
  width: 65px;
  height: 40px;
  color: #fff;
  text-align: right;
  line-height: 40px;
  z-index: 100000;
  font-weight: bold;
  font-size: 2vh;
}
header {
  font-family: "LINESeedKR-Bd";
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  color: #fff;
  font-size: 2.5vh;
  z-index: 100;
  padding: 5px 11px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}

/* 섹션 */
#section1 {
  background: #3a6440;
  height: 5000vh;
}

.sec1 {
  width: 98%;
  height: 98vh;
  background-image: url(../img/forest.png);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
}
.sec2_ani1 {
  font-family: "pretendard";
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 0.85;
  font-size: 15vw;
  text-transform: uppercase;
}
.sec2_ani2 {
  font-family: "pretendard";
  font-weight: 900;
  text-align: center;
  line-height: 0.85;
  font-size: 15vw;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  z-index: 2;
  color: rgba(255, 255, 255, 0);
}
.sec2_ani3 {
  background: url(../img/my_img.jpg);
  z-index: 1;
  background-size: cover;
  background-position: center center;
  width: 30vh;
  height: 38vh;
  transform: translate(-50%, -50%);
}

.sec2_ani4 {
  z-index: 3;
  color: #fff;
  width: 50vh;
  height: 70vh;
  font-size: 1.3vw;
  color: #fff;
  font-family: "nanumsquare";
  font-weight: 500;
}

.sec2_ani5 {
  font-size: 30vw;
  font-family: "pretendard";
  font-weight: 900;
  text-transform: uppercase;
}
.sec2_ani6 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.6vw;
  height: 0vh;
  background: #000;
}
.sec2_ani7 {
  width: 100%;
  color: rgba(255, 255, 255, 0);
  opacity: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  font-family: "pretendard";
  font-weight: 900;
  font-size: 15vw;
}
