@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  overscroll-behavior: none;
}

/* scroll */
.scroll {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 50px;
  color: #fff;
  z-index: 100000;
}

/* fixed */
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "LINESeedKR-Bd";
  text-transform: uppercase;
  padding: 40px;
  z-index: 100;
}
#header h1 {
  font-size: 16px;
  font-weight: 800;
  z-index: 100;
}

/* section background */
#section1 {
  height: 4000px;
}
#section1 .sec1 {
  background: #786655;
  height: 4000px;
}
#section2 .sec1 {
  height: 5000px;
  background: #93906c;
}
#section2 .site {
  background: #629460;
  height: 8000px;
}
#section3 {
  background: #bdc1b6;
  height: 30000px;
}
#section6 {
  background: #3c4236;
  height: 3000px;
}

/* section1 */

/* scroll 텍스트 */
#section1 .sec1_text {
  font-family: "pretendard";
  font-weight: 900;
  font-size: 11vw;
  color: #000;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

/* 식물 이미지 커버 */
#section1 .sec1_image {
  width: 98%;
  height: 96vh;
  background-image: url(../img/forest.jpg);
  background-size: cover;
  filter: saturate(10%);
}

/* main title */
#section1 .main_title {
  font-family: "pretendard";
  font-weight: 900;
  font-size: 12vw;
  color: #fff;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
  opacity: 0;
}
#section1 .main_title_down {
  display: flex;
  justify-content: center;
}
#section1 .main_title > div {
  padding: 10px;
  margin: 5px 0;
}

/* attention */
#section1 .attention_t {
  font-family: "pretendard";
  font-weight: 900;
  font-size: 10vw;
  color: #000;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
  -webkit-text-stroke: 0.2vw #000;
  color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  z-index: -1;
}
#section1 .attention_c {
  font-family: "pretendard";
  font-weight: 900;
  font-size: 10vw;
  color: #000;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: -3;
}
#section1 .attention_b {
  font-family: "pretendard";
  font-weight: 900;
  font-size: 10vw;
  color: #000;
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
  -webkit-text-stroke: 0.2vw #000;
  color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  z-index: -2;
}

/* 블러 박스 */
#section1 .sec2-box {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px);
}

/* 프로필 이미지 */
.sec2-img1-wrap {
  width: 20vw;
  height: 20vw;
  padding: 10px;
}
.sec2-img1-wrap div {
  position: absolute;
  top: -50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 50%;
}
.sec2-img1-wrap div.i2 {
  transform: translate(15vw, 0vw);
}
.sec2-img1-wrap div.i3 {
  transform: translate(0vw, 15vw);
}
.sec2-img1-wrap div.i4 {
  transform: translate(-15vw, 0vw);
}
.sec2-img1-wrap div.i5 {
  transform: translate(0vw, -15vw);
}

/* about */
#section1 .about {
  width: 100vw;
  font-size: 2.5vw;
  color: #fff;
  text-align: center;
  font-family: "nanumsquare";
}
#section1 .about_down {
  width: 71vw;
  position: fixed;
  left: 50%;
}

/* section2 */
/* 초록색 효과 */
#section2 .sec1-box1 {
  width: 100%;
  height: 100vh;
}
#section2 .sec1-box1 .cir {
  width: 10vw;
  height: 10vh;
  background: #629460;
}
/* site text */
#section2 .site_main {
  font-family: "pretendard";
  font-weight: 900;
  font-size: 11vw;
  color: #2d4b37;
  text-transform: uppercase;
  text-align: center;
  width: 100vh;
}

#section2 .site_title {
  font-size: 4.5vw;
  font-family: "pretendard";
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  width: 74vw;
}

#section2 .site_text {
  color: #fff;
  font-size: 1vw;
  font-family: "nanumsquare";
  font-weight: 500;
  text-align: left;
  background: rgba(51, 61, 52, 0.253);
  backdrop-filter: blur(10px);
  padding: 1vw;
  text-transform: uppercase;
  z-index: 10;
  width: 30vw;
}
#section2 .site_text button {
  cursor: pointer;
  margin-top: 1vw;
  padding: 0.3vw;
  border: 0.1vw solid #fff;
  background: rgb(107, 145, 98);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 4.5vw;
  font-size: 0.85vw;
  color: #fff;
}
/* site img */
#section2 .site_img1 {
  border: 0.5vw solid rgba(155, 217, 166, 0.506);
  background: url(../img/site1.jpg);
  width: 45vw;
  height: 25vw;
}
#section2 .site_img2 {
  border: 0.5vw solid rgba(155, 217, 166, 0.506);
  background: url(../img/site2.jpg);
  width: 45vw;
  height: 25vw;
}

#section2 .site_img3 {
  border: 0.5vw solid rgba(155, 217, 166, 0.506);
  background: url(../img/phpblog.jpg);
  width: 45vw;
  height: 25vw;
}

#section2 .site_img4 {
  border: 0.5vw solid rgba(155, 217, 166, 0.506);
  background: url(../img/phpproject.jpg);
  width: 45vw;
  height: 25vw;
}
#section2 .site_img5 {
  border: 0.5vw solid rgba(155, 217, 166, 0.506);
  background: url(../img/vueapi.jpg);
  width: 45vw;
  height: 25vw;
}

/* section3 */
/* basic */
#section3 .basic_bottom {
  font-family: "pretendard";
  font-weight: 900;
  color: #629460;
  text-align: center;
  line-height: 0.85;
  font-size: 13vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100vh;
}
#section3 .basic_top {
  font-family: "pretendard";
  font-weight: 900;
  text-align: center;
  line-height: 0.85;
  font-size: 13vw;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #629460;
  color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  width: 100vh;
}

/* img */
#section3 .basic_css {
  background: url(../img/css_r.jpg);
  background-size: cover;
  background-position: center center;
  width: 23vw;
  height: 28vw;
  z-index: 1;
  border: 0.35vw solid #000;
}
#section3 .basic_html {
  background: url(../img/html_r.jpg);
  background-size: cover;
  background-position: center center;
  width: 23vw;
  height: 28vw;
  z-index: 1;
  border: 0.35vw solid #000;
}
#section3 .basic_js {
  background: url(../img/javascript_r.jpg);
  background-size: cover;
  background-position: center center;
  width: 23vw;
  height: 28vw;
  z-index: 1;
  border: 0.35vw solid #000;
}
#section3 .basic_main {
  background: url(../img/main_r.jpg);
  background-size: cover;
  background-position: center center;
  width: 23vw;
  height: 28vw;
  z-index: 1;
  border: 0.35vw solid #000;
}
/* refer */
#section3 .basic_refer_t {
  font-family: "pretendard";
  font-weight: 900;
  -webkit-text-stroke: 0.2vw #dce0d6;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 0.85;
  font-size: 10vw;
  text-transform: uppercase;
}
#section3 .basic_refer_b {
  font-family: "pretendard";
  font-weight: 900;
  color: #dce0d6;
  text-align: center;
  line-height: 0.85;
  font-size: 10vw;
  text-transform: uppercase;
}
/* 이미지 위 텍스트 */
.refer_title {
  font-family: "pretendard";
  font-weight: 900;
  color: #000;
  text-align: center;
  font-size: 3vw;
  z-index: 3;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

/* #section4 */
/* 화면 전환 효과 */
#section4 .sec1 {
  background: #d7d2ce;
  width: 200vw;
  height: 100vh;
}

/* #section5 */
/* react */
#section5 .react_bottom {
  font-family: "pretendard";
  font-weight: 900;
  color: #3a6440;
  text-align: center;
  line-height: 0.85;
  font-size: 13vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
#section5 .react_top {
  font-family: "pretendard";
  font-weight: 900;
  text-align: center;
  line-height: 0.85;
  font-size: 13vw;
  text-transform: uppercase;
  -webkit-text-stroke: 0.2vw #3a6440;
  color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
}

/* react img */
#section5 .react1-img1 {
  background: url(../img/Mockup-reactapi.jpg) no-repeat center center;
  width: 10vw;
  height: 10vh;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  transform: translate(0, 0);
}
#section5 .react1-img2 {
  background: url(../img/Mockup-reactapi.jpg) no-repeat center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  transform: translate(0, 0);
}
#section5 .react2-img1 {
  background: url(../img/Mockup-reactyoutube.jpg) no-repeat center center;
  width: 10vw;
  height: 10vh;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  transform: translate(0, 0);
}
#section5 .react2-img2 {
  background: url(../img/Mockup-reactyoutube-min.jpg) no-repeat center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  transform: translate(0, 0);
}
#section5 .react3-img1 {
  background: url(../img/Mockup-reactproject-min.jpg) no-repeat center center;
  width: 10vw;
  height: 10vh;
  background-size: cover;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  transform: translate(0, 0);
}
#section5 .react3-img2 {
  background: url(../img/Mockup-reactproject-min.jpg) no-repeat center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  transform: translate(0, 0);
}
/* react text */
.img_text_t {
  font-family: "pretendard";
  font-weight: 900;
  -webkit-text-stroke: 0.2vw #000;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 9.5vw;
  text-transform: uppercase;
}
.img_text_b {
  color: #000;
  font-size: 1.3vw;
  font-family: "nanumsquare";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}
.img_text-btn button {
  cursor: pointer;
  margin: 0vw 2.5vw 0vw 1vw;
  padding: 0.3vw;
  border: 0.1vw solid #000;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 4.5vw;
  font-size: 0.85vw;
  color: #000;
}
/* effect */
/* effect main title */
#section5 .effect_main {
  font-family: "pretendard";
  font-weight: 900;
  color: #7c936c;
  text-align: center;
  line-height: 1;
  font-size: 13vw;
  text-transform: uppercase;
}

/* effect img size */
#section5 .effect_start {
  width: 98%;
  height: 98vh;
  z-index: 6;
}

#section5 .effect_cover {
  left: 1%;
  top: 1%;
  width: 98%;
  height: 98vh;
}
/* effect img */
#section5 .effect_game {
  width: 100%;
  height: 100%;
  background: url(../img/gameEffect.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(0.8px) brightness(70%);
}

#section5 .effect_quiz {
  width: 100%;
  height: 100%;
  background: url(../img/quizEffect.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(0.8px) brightness(70%);
}

#section5 .effect_search {
  width: 100%;
  height: 100%;
  background: url(../img/searchEffect.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(0.8px) brightness(70%);
}
#section5 .effect_mouse {
  width: 100%;
  height: 100%;
  background: url(../img/mouseEffect.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(0.8px) brightness(70%);
}

#section5 .effect_slider {
  width: 100%;
  height: 100%;
  background: url(../img/sliderEffect.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(0.8px) brightness(70%);
}
#section5 .effect_parallax {
  width: 100%;
  height: 100%;
  background: url(../img/parallaxEffect.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: blur(0.8px) brightness(70%);
}

/* effeffect text */
#section5 .effect_title {
  font-family: "pretendard";
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-size: 8vw;
  text-transform: uppercase;
  z-index: 10;
}
#section5 .effect_text {
  color: #000;
  font-size: 1.2vw;
  font-family: "nanumsquare";
  font-weight: 500;
  background: rgba(233, 239, 234, 0.549);
  backdrop-filter: blur(10px);
  padding: 1vw;
  text-transform: uppercase;
  z-index: 10;
  width: 30vw;
  border-radius: 1.39vw;
}

#section5 .effect_text button {
  cursor: pointer;
  margin-top: 1vw;
  padding: 0.3vw;
  border: 0.1vw solid #000;
  background: rgb(204, 221, 201);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 4.5vw;
  font-size: 0.85vw;
  color: #000;
  border-radius: 3.47vw;
  margin: 1vw 0.5vw 0 0.5vw;
}

/* section6 contact */
#section6 .contact_ani1 img {
  width: 23vw;
}
#section6 .contact_ani2 {
  font-family: "pretendard";
  font-weight: 900;
  -webkit-text-stroke: 0.2vw #adad8a;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 9.5vw;
  text-transform: uppercase;
}
#section6 .contact_ani3 {
  text-align: center;
  animation: marquee 180s linear infinite;
}
#section6 .contact_ani3 a {
  font-family: "pretendard";
  font-weight: 900;
  color: #adad8a;
  font-size: 7vw;
  text-transform: uppercase;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#section6 .contact_ani4 {
  width: 10vw;
  height: 10vw;
  top: 15%;
  left: 73%;
  background-image: url(../img/github.svg);
  background-size: cover;
  animation: rotate1 120s linear infinite;
}

#section6 .contact_ani5 {
  width: 10vw;
  height: 10vw;
  top: 40%;
  left: 10%;
  background-image: url(../img/codepen.svg);
  background-size: cover;
  animation: rotate2 120s linear infinite;
}

#section6 .contact_ani6 {
  width: 9vw;
  height: 9vw;
  top: 60%;
  left: 80%;
  background-image: url(../img/tistory.png);
  background-size: cover;
  animation: rotate2 120s linear infinite;
}

@keyframes rotate1 {
  100% {
    rotate: 360deg;
  }
}
@keyframes rotate2 {
  100% {
    rotate: -360deg;
  }
}

/* 반응형 */
@media (max-width: 480px) {
  #section1 .about {
    font-size: 4vw;
  }
  #section1 .about_down {
    width: 100vh;
  }

  .sec2-img1-wrap {
    width: 30vw;
    height: 30vw;
    padding: 10px;
  }
  .sec2-img1-wrap div {
    position: absolute;
    top: -50%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: 50%;
  }
  #section2 .site_main {
    font-size: 17vw;
  }
  #section2 .site_text {
    font-size: 4vw;
    padding: 3vw;
    width: 65vw;
  }
  #section2 .site_text button {
    width: 15vw;
    font-size: 4vw;
  }
  #section2 .site_title {
    font-size: 13vw;
    width: 90vw;
  }
  #section2 .site_img1 {
    width: 100vw;
    height: 60vw;
  }
  #section2 .site_img2 {
    width: 100vw;
    height: 60vw;
  }

  #section2 .site_img3 {
    width: 100vw;
    height: 60vw;
  }

  #section2 .site_img4 {
    width: 100vw;
    height: 60vw;
  }
  #section2 .site_img5 {
    width: 100vw;
    height: 60vw;
  }
  #section3 .basic_ani1 {
    font-size: 17vw;
  }
  #section3 .basic_ani2 {
    font-size: 17vw;
  }
  #section3 .basic_css {
    width: 38vw;
    height: 45vw;
  }
  #section3 .basic_html {
    width: 38vw;
    height: 45vw;
  }
  #section3 .basic_js {
    width: 38vw;
    height: 45vw;
  }
  #section3 .basic_main {
    width: 38vw;
    height: 45vw;
  }
  #section3 .basic_ani7_t {
    font-size: 15vw;
  }
  #section3 .basic_ani7_b {
    font-size: 15vw;
  }
  .refer_title {
    font-size: 5vw;
  }
  #section5 .react_bom {
    font-size: 15vw;
  }
  #section5 .react_top {
    font-size: 15vw;
  }
  #section5 .effect_title {
    font-size: 15vw;
  }
  #section5 .effect_text {
    width: 75vw;
    font-size: 4vw;
    padding: 3vw;
  }
  #section5 .effect_text button {
    width: 13.5vw;
    font-size: 3.5vw;
  }
  .img_text_t {
    font-size: 11.5vw;
  }
  .img_text_b {
    width: 75vw;
    font-size: 3.8vw;
  }
  .img_text-btn button {
    width: 13vw;
    margin: 20vw 2.5vw 0vw 1vw;
    font-size: 3.85vw;
  }

  #section6 .contact_ani1 img {
    width: 50vw;
  }

  #section6 .contact_ani2 {
    font-size: 17.5vw;
  }
  #section6 .contact_ani3 a {
    font-size: 13vw;
  }
}
